body{
    margin: 0;
    padding: 0;
}

p{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 16px;
    }

#topo{
    background-color: #1d46fc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 90px;
    }
.texto-topo h1{
    font-family: Georgia, serif;
    font-size: 80px;
    color: white;
    text-align: center;
}
.texto-topo p{
    font-size: 40px;
    color: white;
    font-family:'Times New Roman';
    text-align: center;
    
}
#topo img{
    
    margin: 10px;

}
nav{
    background-color:rgb(0, 11, 161);
    display: flex;
}
nav a{
    flex: 1;
    padding: 15px 0;
    color: white;
    text-decoration:none;
    font-weight: bold;
    text-align: center;

}
nav a:hover{
    color: blue;
    background-color: #9daaf1;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 70px;
    background-color: white;
}

#direita{
    width: 45%;
}

#direita h2{
    font-size: 55px;
    margin-bottom: 30px;
}

#direita p{
    font-size: 20px;
    line-height: 2;
    text-align: left;
}

#esquerda{
    width: 50%;
    display: flex;
    justify-content: right;
    margin: 30px;
}

#esquerda img{
    width: 100%;
    max-width: 750px;
    height: auto;
    border-radius: 10px;
}

footer{
    margin-top: 60px;
    
}

footer h1{
    font-size: 55px;
    margin: 70px;
}

#conteudo-home{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.belezas p{
    margin-top: 12px;
    font-size: 25px;
    font-family: Georgia, serif;
    text-align: center;
}

.belezas img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;

}

.belezas{
    width: 300px;
}

.rodape{
    background-color: #1d46fc;
    text-align: center;
    font-style: italic;
    color: #FFF;
    padding: 20px 0;
    width: 100%;
}

.info p{
    font-size: 26px;
    margin: 15px 0;
}

.info strong{
    font-size: 32px;
    padding-left:30px;
    font-family:'Times New Roman', serif;
}

.info-titulo{
    text-align: center;
    font-size: 28px;
}


.turismo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.turistico {
    text-align: center;
    margin-bottom: 40px;
    width: 400px;
}

.turistico img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    object-position: center;
}

.turistico p {
    width: 350px;
    margin: 15px auto 0 auto;
    line-height: 1.6;
}

.voltar{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.voltar a{
    background-color: #284fff;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-family: Georgia, serif;
}

.voltar a:hover{
    background-color: #8597ff;
}

.pratos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
}

.prato {
    text-align: center;
    width: 400px;
}

.prato h2 {
    margin-bottom: 15px;
}

.prato img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.prato p {
    width: 400px;
    margin: 20px auto 0 auto;
    line-height: 1.6;
}

#text-sobre {
    display: inline-block;
    width: 38%;
    vertical-align: top;
    text-align: justify;
    line-height: 1.8;
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

#img-sobre {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

#img-sobre img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}



#img-curiosidade {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

#img-curiosidade img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

#text-curiosidade li {
    margin-bottom: 25px;
    line-height: 1.7;
}



